.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 8px 0;
  background: linear-gradient(#0357c4, #061294);
}

.search-form {
  display: flex;
  width: 305px;
  margin: auto;
}

.input {
  width: 210px;
  height: 25px;
  padding-left: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px 0 0 4px;
  outline: none;
}

.btn {
  width: 85px;
  height: 29px;
  background: linear-gradient(#1694e3, #0e51a9);
  border: none;
  border-radius: 0 4px 4px 0;
  color: #fff;
}
